In [1]:
from ab_eval.core.utils import *
from ab_eval.core.experiment import experiment
from ab_eval.core.experiment_components import variations , evaluation_metrics

/Users/yiannis.moschonas/anaconda3/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

## First of all we need to generate some fake data for our experiment

In [2]:
df = generate_random_cvr_data(5000,0.4,0.43,days=10)

INFO:root:Fake test is generating with sample_size=5000.

## Lets have a look how the data looks like.

In [3]:
df.head()

   CVR        date         fullvisitorid group  mCVR1    segment     visitid
0    0  2018-01-01  99373702771986286129     A      0        new  1464706444
1    0  2018-01-01  28023764636447075827     B      0        new  1442260356
2    0  2018-01-01  81813774842938704599     B      1  returning  1480758114
3    0  2018-01-01  51980751449536534861     A      1        new  1491826492
4    1  2018-01-01  10126893830791788268     A      0        new  1464793916

In [4]:
get_test_summary(df,kpi='CVR')

        CVR  total      rate
group
A       939   2466  0.380779
B      1127   2534  0.444751

In [5]:
get_test_summary(df,kpi='mCVR1')

       mCVR1  total      rate
group
A        947   2466  0.384023
B       1126   2534  0.444357

## Lets define our experiment, our variations and the segments that our data has

In [6]:
var=variations(column_name='group',control_label='A',variation_label='B')
eval_metrics=evaluation_metrics(kpis=['CVR','mCVR1'])
segments=['new','returning']

In [7]:
exp=experiment(df,kpis=eval_metrics,variations=var,segments=segments)

## Now we need to iterate over the segments and evaluation metrics of our dataset and evaluate 1 by 1

In [8]:
for kpi in eval_metrics.kpis:
    # evaluate once for all segments together
    print("KPI:{} SEGMENT: all data ---> {} ".format(kpi,exp.get_p_val(kpi=kpi)))
    print("KPI:{} SEGMENT: all data ---> relative convertion uplift = {} ".format(kpi,exp.get_relative_conversion_uplift(kpi=kpi)))
    print("KPI:{} SEGMENT: all data ---> standard errors = {} ".format(kpi,exp.get_standard_errors_of_test(kpi=kpi)))
    print("KPI:{} SEGMENT: all data ---> confidence interval = {} ".format(kpi,exp.get_confidence_interval_of_test(kpi=kpi)))
    print("------------------------------------------------------------")
    # evaluate for every segment now
    for segment in segments:
        print("KPI:{} SEGMENT: {} ---> {} ".format(kpi,segment,exp.get_p_val(kpi=kpi,segment=segment)))
        print("KPI:{} SEGMENT: {} ---> relative convertion uplift = {} ".format(kpi,segment,exp.get_relative_conversion_uplift(kpi=kpi,segment=segment)))
        print("KPI:{} SEGMENT: {} ---> standard errors = {} ".format(kpi,segment,exp.get_standard_errors_of_test(kpi=kpi,segment=segment)))
        print("KPI:{} SEGMENT: {} ---> confidence interval = {} ".format(kpi,segment,exp.get_confidence_interval_of_test(kpi=kpi,segment=segment)))
        print("------------------------------------------------------------")

KPI:CVR SEGMENT: all data ---> {'z-score': 4.592878304726133, 'p-value': 4.37174023326167e-06}
KPI:CVR SEGMENT: all data ---> relative convertion uplift = 0.16800522478950805
KPI:CVR SEGMENT: all data ---> standard errors = (0.009871862346527786, 0.009778285340407769)
KPI:CVR SEGMENT: all data ---> confidence interval = (0.028341426645442327, 0.09960415816992511)
------------------------------------------------------------
KPI:CVR SEGMENT: new ---> {'z-score': 3.00818179608962, 'p-value': 0.0026281586876061996}
KPI:CVR SEGMENT: new ---> relative convertion uplift = 0.15653102401076088
KPI:CVR SEGMENT: new ---> standard errors = (0.014111344732003706, 0.013894631944984932)
KPI:CVR SEGMENT: new ---> confidence interval = (0.008916448989502078, 0.11046727799742848)
------------------------------------------------------------
KPI:CVR SEGMENT: returning ---> {'z-score': 3.4809896197736165, 'p-value': 0.0004995648511763011}
KPI:CVR SEGMENT: returning ---> relative convertion uplift = 0.17904497168063066
KPI:CVR SEGMENT: returning ---> standard errors = (0.01381444955244867, 0.013763446177042567)
KPI:CVR SEGMENT: returning ---> confidence interval = (0.018060959095452647, 0.11809381840444814)
------------------------------------------------------------
KPI:mCVR1 SEGMENT: all data ---> {'z-score': 4.329484944555098, 'p-value': 1.4945848735904164e-05}
KPI:mCVR1 SEGMENT: all data ---> relative convertion uplift = 0.15711060308422142
KPI:mCVR1 SEGMENT: all data ---> standard errors = (0.009870987611247056, 0.009794094003326807)
KPI:mCVR1 SEGMENT: all data ---> confidence interval = (0.024715150469952124, 0.09595292829789678)
------------------------------------------------------------
KPI:mCVR1 SEGMENT: new ---> {'z-score': 2.712818123424441, 'p-value': 0.006671371155069485}
KPI:mCVR1 SEGMENT: new ---> relative convertion uplift = 0.13845522053732642
KPI:mCVR1 SEGMENT: new ---> standard errors = (0.014119353647956988, 0.01394973897471595)
KPI:mCVR1 SEGMENT: new ---> confidence interval = (0.0032544066790530374, 0.10460923485248112)
------------------------------------------------------------
KPI:mCVR1 SEGMENT: returning ---> {'z-score': 3.4082399062300834, 'p-value': 0.0006538338312643392}
KPI:mCVR1 SEGMENT: returning ---> relative convertion uplift = 0.17589971429320328
KPI:mCVR1 SEGMENT: returning ---> standard errors = (0.013805268238536127, 0.013752119261365438)
KPI:mCVR1 SEGMENT: returning ---> confidence interval = (0.01652440853960934, 0.11667296353771983)
------------------------------------------------------------